.flex-container {
    display: flex;
}

div {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

.code1 {
    background-color: red;
}

.code2 {
    background-color: blue;
}

.code3 {
    background-color: goldenrod;
}

.code4 {
    background-color: green;
}

.ligne {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: solid 2px;
    width: 100%;
}

input{
    width: 5%;
    height: 10%;
}