*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-image: url("images/stage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    height: 110px;
    width: 150px;
    border: solid 3px #ccc;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;

    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.contour-drag{
    border: dashed 3px red;
}

.item{ 
    height: 100px;
    width: 150px;
    background-color: #F0DB4F;
    border-radius: 10px;
    z-index: 0;
}

.hide{
    display: none;
}