* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-image: url("images/stage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border: solid 3px #ccc;
    border-radius: 10px;
    margin: 10px;

    /* align items in the box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.contour-drag {
    border: dashed 3px red;
}

.item { 
    height: 100px;
    width: 100px;
    background-color: #F0DB4F;
    border-radius: 3px ;

}

.hide {
    display: none;
}