* {
    background-color: #19303a;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(236, 236, 236);
    text-align: center;
}