*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Pixel";
    src: url(../Styles/Minecraft.ttf);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-image: url("../images/solstage2.png");
    background-repeat: repeat;
    background-size: 100px;
    overflow: hidden;
}

.tapis{
    width: 920px;
    height: 750px;
    position: absolute;
    top: 100px;
    left: 480px;

    z-index: -5;

    background-image: url("../images/tapis.png");
    background-repeat: repeat;
    background-size: 100px;
}

.box{
    width: 150px;
    height: 100px;
    border: dashed 2px rgb(37, 37, 37);
    border-right: solid 20px green;
    border-radius: 10px;
    margin-top: 40px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

/* Div table */

.whole_table{
    position: relative;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.layer{
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    width: 100%;
}

.table_top{
    background-image: url(../images/table_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    width: 45%;
    height: 180px;
}
.table_middle{
    background-image: url(../images/table_middle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    width: 45%;
    height: 180px;
}
.table_bottom{
    background-image: url(../images/table_bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 45%;
    height: 180px;
}

.chef{
    position: absolute;
    bottom: -100px;
    pointer-events:none;
    z-index: 20;

    display: flex;
    justify-content: center;
    width: 100%;
}

.person_left{
    width: 70px;
    overflow: hidden;
    pointer-events:none;
}
.person_right{
    width: 70px;
    overflow: hidden;
    pointer-events:none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.disposable{
    width: 150px;
    border: solid 3px #ccc;
    margin: 2px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.contour-drag{
    border: dashed 3px red;
}

.ignore{
    pointer-events:none;
}

.item{ 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    z-index: 0;
}

.hide{
    display: none;
}

/* Bulle de texte */

.bubble:nth-child(1){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 2%;
    left: 80%;
    width: 30px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.bubble:nth-child(2){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 25%;
    left: 80%;
    width: 30px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.bubble:nth-child(3){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 48%;
    left: 80%;
    width: 30px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.bubble:nth-child(4){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 2%;
    left: 0%;
    width: 10px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.bubble:nth-child(5){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 25%;
    left: 0%;
    width: 10px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.bubble:nth-child(6){
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 48%;
    left: 0%;
    width: 10px;
    height: 90px;
    color: rgb(0, 0, 0);
}

.bubble img{
    width: 380px;
}
.centered{
    text-align: justify;
    position: absolute;
    width: 320px;
    top: 20px;
    left: 25px;
}


/* Terminal */

.terminal{
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 85%;
    left: 2%;
    width: 10px;
    height: 90px;
    color: rgb(0, 0, 0);
}
.terminal img{
    width: 390px;
}
.terminal_text {
    font-size: 28px;
    position: absolute;
    width: 300px;
    top: 8px;
    left: -80px;
}
.terminal_subtext {
    font-size: 30px;
    position: absolute;
    width: 300px;
    top: 50px;
    left: 30px;
}

/* Button */

.red_button{
    background-image: url('../images/button_up.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 92%;
    left: 82%;
    width: 300px;
    height: 180px;
    color: white;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    z-index: 50;
}
.red_button:active{
    background-image: url('../images/button_down.png');
}
.red_button_text {
    font-size: 35px;
    position: absolute;
    width: 300px;
    top: -40px;
}

/* Horloge */

.clock{
    background-image: url('../images/clock.gif');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-family: "Pixel";
    position: absolute;
    top: 74.1%;
    left: 3%;
    width: 100px;
    height: 100px;
    color: rgb(0, 0, 0);
    z-index: 50;
}


