body{
    background-image: url("../images/fond.png");
    background-repeat: repeat;

    overflow-x: hidden;
    position: relative;
}


canvas { 
    z-index: 0;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 47%;

    display: block;
    
    border: 5px solid rgb(66, 66, 66);
    background-image: url("../images/sol.png");
}

@font-face {
    font-family: "Pixel";
    src: url('../Styles/Minecraft.ttf');
}

.hidden{
    visibility: hidden;
}

.code{
    background-image: url("../images/post-it.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-family: "Pixel";
    font-size: 13.5px;

    position: absolute;
    top: 3%;
    left: 2%;

    transform: rotate(-2deg);
    width: 30%;
    height: 30%;
}

.code span:nth-child(1){
    position: absolute;
    top: 60px;
    left: 10px;
}
.code span:nth-child(2){
    position: absolute;
    top: 80px;
    left: 10px;
}
.code span:nth-child(3){
    position: absolute;
    top: 100px;
    left: 10px;
}
.code span:nth-child(4){
    position: absolute;
    top: 120px;
    left: 10px;
}

.lock{
    z-index: 1;

    background-image: url("../images/lock_close.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-family: "Pixel";
    font-size: 13.5px;

    position: absolute;
    top: 55%;
    left: 30px;

    width: 40%;
    height: 40%;
    transform: rotate(1deg);
}

.lock .number{
    position: absolute;
    top: 180px;
    left: 68px;
}

.lock .validation{
    position: absolute;
    top: 235px;
    left: 62px;
}

.keyboard{
    background-image: url("../images/keyboard.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-family: "Pixel";
    font-size: 13.5px;

    position: absolute;
    top: 80%;
    left: 75%;

    width: 15%;
    height: 15%;
}
