body{
    background-image: url("../images/fond.png");
    background-repeat: repeat;
    overflow-x: hidden;
    position: relative;
    font-family: "Pixel";
}

@font-face {
    font-family: "Pixel";
    src: url('../Styles/Minecraft.ttf');
}

.motmele{ 
    position: absolute;

    left: 1100px;
    top: 50px;

    width: 35%;
    border: 5px solid rgb(66, 66, 66);
}

.validation{
    position: absolute;
    top: 75%;
    left: 80%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.3);
}
.verif{
    position: absolute;
    border: none;
    background-image: url(../images/button_down.png);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 140px;
    height: 80px;
    top: 70%;
    left: -15px;
    transform: scale(0.8);
}

.hidden{
    visibility: hidden;
}


.row_button{    
    justify-content: space-around;

    position: absolute;
    top: 78%;
    left: 62%;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    height: 50px;

    display: flex;
    flex-direction: row;
    transform: scale(2);
}
.column_button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.code_button{
    border: none;
    background-image: url(../images/greenbutton.png);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.code{
    text-align: center;
    border-radius: 2px;
    border: black solid 1px;
}

.plate{
    margin-left: 55%;
    margin-top: 2%;
    margin-right: auto;

    width: 800px;
    height: 800px;
    background-image: url(../images/metal_plate.png);
    background-size: cover;
}

.morsecacher{
    position: absolute;
    top: 5px;
    left: 10px;

    width: 500px;
    height: 500px;
    background-image: url(../images/terminal.png);
    background-size: contain;
    background-repeat: no-repeat;

    color: rgba(0, 0, 0, 0);
}

.morse{
    position: absolute;
    top: 300px;
    left: 10px;

    width: 300px;
    height: 300px;
    background-image: url(../images/postit.png);
    background-size: contain;
    background-repeat: no-repeat;

    color: rgb(0, 0, 0);
}

.morse span:nth-child(1){
    position: absolute;

    top: 40px;
    left: 30px;
}
.morse span:nth-child(2){
    position: absolute;

    top: 70px;
    left: 30px;
}
.morse span:nth-child(3){
    position: absolute;

    top: 100px;
    left: 30px;
}
.morse span:nth-child(4){
    position: absolute;

    top: 130px;
    left: 30px;
}
.morse span:nth-child(5){
    position: absolute;

    top: 160px;
    left: 30px;
}
.morse span:nth-child(6){
    position: absolute;

    top: 190px;
    left: 30px;
}

.couleurcacher:nth-child(1){
    text-align: center;
    position: absolute;

    top: 70px;
    left: 50px;
}

.couleurcacher:nth-child(2){
    text-align: center;
    position: absolute;

    top: 100px;
    left: 50px;
}

.couleurcacher:nth-child(3){
    text-align: center;
    position: absolute;

    top: 130px;
    left: 50px;
}   

.couleurcacher:nth-child(4){
    text-align: center;
    position: absolute;

    top: 160px;
    left: 50px;
}

.reponse{
    font-family: "Pixel";
    line-height: 150%;
    color: black;
    position: absolute;

    top: 70px;
    left: 200px;
}